@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

:root {
    --ref-width: 1366;
    --ref-height: 768;
}

*,
*::before,
*::after {

    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body {
    font-family: "poppins", sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* background-color: #333; */



}

::selection {
    background-color: #0b372dbb;
}

.logo {
    width: 100px;
}

header {
    position: absolute;
    z-index: 9999;
    padding: 0.9rem 0;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header nav {

    /* background-color: #333; */
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a {
    text-decoration: none;
    color: white;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}

.search a {
    font-size: 1.05rem;
    padding: 0 3rem;

}

.hamburger {
    padding-left: 1.5rem;
}

.hamburger a {
    padding: 0;
    width: 37px;
    height: 37px;
    display: flex;
    border-radius: 50%;
    background-color: rgba(115, 115, 115, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;

}

.hamburger .bar {
    position: relative;
    width: 52%;
    height: 1.3px;
    background-color: #ffffff;
    border-radius: 2px;


}

.hamburger .bar::after {
    content: "";
    position: absolute;
    left: 50%;
    margin-top: -1px;
    transform: translateX(-50%);
    width: 60%;
    height: 150%;
    border-radius: 2px;
    background-color: inherit;
}

.hamburger .bar::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* transform: translateY(1px); */
    width: 60%;
    height: 130%;
    border-radius: 2px;
    background-color: inherit;
}

.hamburger .bar::before {
    top: -4.5px;

}

.hamburger .bar::after {
    top: 4.5px;

}

main {
    background-color: #353;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.parallax {
    pointer-events: none;
    transition: 0.45s cubic-bezier(.2, .49, .32, .99);

}

.bg-img {
    position: relative;
    width: calc(3000 / var(--ref-width) * 100%);
    top: calc(50% - (390 / var(--ref-height) * 100%));
    left: calc(50% + (10 / var(--ref-width) * 100%));
    z-index: 1;

}

.fog-7 {
    position: absolute;
    z-index: 2;
    width: calc(2100 / var(--ref-width) * 100%);
    top: calc(50% - (100 / var(--ref-height) * 100%));
    left: calc(50% + (300 / var(--ref-width) * 100%));
    transform: translate(-50%, -50%);

}

.mountain-10 {
    position: absolute;
    z-index: 3;
    width: calc(900 / var(--ref-width) * 100%);
    top: calc(50% + (69 / var(--ref-height) * 100%));
    left: calc(50% + (230 / var(--ref-width) * 100%));
    transform: translate(-50%, -50%);

}

.fog-6 {
    position: absolute;
    z-index: 4;
    width: calc(1810 / var(--ref-width) * 100%);
    top: calc(50% + (155 / var(--ref-height) * 100%));
    left: calc(50% + (10 / var(--ref-width) * 100%));
    transform: translate(-50%, -50%);

}

.mountain-9 {
    position: absolute;
    z-index: 5;
    width: calc(470 / var(--ref-width) * 100%);
    top: calc(50% + (150 / var(--ref-height) * 100%));
    left: calc(50% - (480 / var(--ref-width) * 100%));
    transform: translate(-50%, -50%);

}

.mountain-8 {
    position: absolute;
    z-index: 6;
    width: calc(850 / var(--ref-width) * 100%);
    top: calc(50% + (106 / var(--ref-height) * 100%));
    left: calc(50% - (220 / var(--ref-width) * 100%));
    transform: translate(-50%, -50%);

}

.fog-5 {
    position: absolute;
    z-index: 7;
    width: calc(650 / var(--ref-width) * 100%);
    top: calc(50% + (160 / var(--ref-height) * 100%));
    left: calc(50% + (20 / var(--ref-width) * 100%));
    transform: translate(-50%, -50%);

}

.mountain-7 {
    position: absolute;
    z-index: 8;
    width: calc(508 / var(--ref-width) * 100%);
    top: calc(50% + (123 / var(--ref-height) * 100%));
    left: calc(50% + (305 / var(--ref-width) * 100%));
    transform: translate(-50%, -50%);

}

.text {
    position: absolute;
    z-index: 9;
    top: calc(50% - (150 / var(--ref-height) * 100%));
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    text-transform: uppercase;
    color: white;
}

.text h2 {
    font-weight: 100;
    margin-left: calc(40 / var(--ref-width) * 100%);
    
    font-size: 6.5rem;
    line-height: 0.88;
    pointer-events: auto;
}

.text h1 {
    font-weight: 800;
    margin-left: calc(40 / var(--ref-width) * 100%);
    font-size: 6.7rem;
    line-height: 0.88;
    pointer-events: auto;
}

.mountain-6 {
    position: absolute;
    z-index: 10;
    width: calc(408 / var(--ref-width) * 100%);
    top: calc(50% + (60 / var(--ref-height) * 100%));
    left: calc(50% + (590 / var(--ref-width) * 100%));
    transform: translate(-50%, -50%);

}

.fog-4 {
    position: absolute;
    z-index: 11;
    width: calc(590 / var(--ref-width) * 100%);
    top: calc(50% + (223 / var(--ref-height) * 100%));
    left: calc(50% - (60 / var(--ref-width) * 100%));
    transform: translate(-50%, -50%);

}

.mountain-5 {
    position: absolute;
    z-index: 12;
    width: calc(625 / var(--ref-width) * 100%);
    top: calc(50% + (280 / var(--ref-height) * 100%));
    left: calc(50% + (135 / var(--ref-width) * 100%));
    transform: translate(-50%, -50%);

}

.fog-3 {
    position: absolute;
    z-index: 13;
    width: calc(1600 / var(--ref-width) * 100%);
    top: calc(50% + (110 / var(--ref-height) * 100%));
    left: calc(50% - (15 / var(--ref-width) * 100%));
    transform: translate(-50%, -50%);

}

.mountain-4 {
    position: absolute;
    z-index: 14;
    width: calc(780 / var(--ref-width) * 100%);
    top: calc(50% + (196 / var(--ref-height) * 100%));
    left: calc(50% - (381 / var(--ref-width) * 100%));
    transform: translate(-50%, -50%);

}

.mountain-3 {
    position: absolute;
    z-index: 15;
    width: calc(520 / var(--ref-width) * 100%);
    top: calc(50% + (150 / var(--ref-height) * 100%));
    left: calc(50% + (790 / var(--ref-width) * 100%));
    transform: translate(-50%, -50%);

}

/* .mountain-3 {
    position: absolute;
    z-index: 15;
    width: calc(508 / var(--ref-width) * 100%);
    height: calc(1000 / var(--ref-height) * 100%);
    top: calc(50% - (70 / var(--ref-height) * 100%));
    left: calc(50% - (705 / var(--ref-width) * 100%));
    
    transform: translate(-50%, -50%) scaleX(-1);
    
} */
.fog-2 {
    position: absolute;
    z-index: 16;
    width: calc(1600 / var(--ref-width) * 100%);
    top: calc(50% + (110 / var(--ref-height) * 100%));
    left: calc(50% - (15 / var(--ref-width) * 100%));
    transform: translate(-50%, -50%);

}

.mountain-2 {
    position: absolute;
    z-index: 17;
    width: calc(700 / var(--ref-width) * 100%);
    top: calc(50% + (170 / var(--ref-height) * 100%));
    left: calc(50% + (435 / var(--ref-width) * 100%));
    transform: translate(-50%, -50%);




}

.mountain-1 {
    position: absolute;
    z-index: 18;
    width: calc(600 / var(--ref-width) * 100%);
    top: calc(50% + (50 / var(--ref-height) * 100%));
    left: calc(50% - (650 / var(--ref-width) * 100%));
    transform: translate(-50%, -50%);



}

.sun-rays {
    position: absolute;
    z-index: 19;
    width: calc(500 / var(--ref-width) * 100%);
    top: calc(50% - (150 / var(--ref-height) * 100%));
    left: calc(50% + (450 / var(--ref-width) * 100%));
    transform: translate(-50%, -50%);

    pointer-events: none;

}

.black-shadow {

    position: absolute;
    z-index: 20;
    width: calc(200 / var(--ref-width) * 100%);
    top: calc(50% + (80 / var(--ref-height) * 100%));
    left: calc(50% - (100 / var(--ref-width) * 100%));

    transform: translate(-50%, -50%);
    pointer-events: none;
}

.fog-1 {
    position: absolute;
    z-index: 21;
    width: calc(2000 / var(--ref-width) * 100%);
    top: calc(50% + (100 / var(--ref-height) * 100%));
    left: calc(50% + (120 / var(--ref-width) * 100%));
    transform: translate(-50%, -50%);

}

.vignette {

    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.7));
    pointer-events: none;
}

/* --- Loading Screen Styles --- */
#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #353; /* Match your main background */
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.75s ease-out, visibility 0.75s;
    visibility: visible;
    opacity: 1;
}

#lottie-loader {
    width: 300px; /* Adjust size as needed */
    height: 300px;
}

/* --- End Loading Screen Styles --- */


@media (max-width: 1100px) {
    .text h1 {
        font-size: 5.8rem;
    }

    .text h2 {
        font-size: 4.7rem;
        ;
    }

}

@media (max-width: 725px) {
    .text h1 {
        font-size: 5rem;
        line-height: 1.1;
    }

    .text h2 {
        font-size: 4.1rem;
        line-height: 1.1;
    }

    header nav{
        padding: 0 1rem;

    }
    .logo {
        width: 75px;
    }
    header ul a{
        font-size: 0.73rem;
        padding: 0 0.9rem;

    }
    .search a{
        font-size: 0.85rem;
        padding: 0 1.8rem;
    }
    .hamburger{
        padding-left: 0.9rem;
    }
    .hamburger a{
        height: 30px;
        width: 30px;
    }

    .bg-img{
        
    }
}

@media (max-width: 520px) {
    .text h1 {
        font-size: 3.3rem;
    }

    .text h2 {
        font-size: 2.6rem;
        
    }

}